# BIG DATA CS644 FINAL PROJECT 

<ul><li>SENTIMENTAL ANALYSIS</li>
    <li>DAMIAN LOPEZ </li>
<li> New Jersey Insitute of technology</li></ul>

## TRAINING DATA

In [ ]:
pip install bs4

In [1]:
import pandas as pd 
from pandas import DataFrame
from tweepy.streaming import StreamListener
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns
import os
import csv

In [2]:
# Display all columns and rows
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
# Read the data in ****** TRAINING DATA **
tweet_trainDF = pd.read_csv('tweeter_train.csv', header=None)
tweet_trainDF.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [4]:
# Rename columns
tweet_trainDF.rename(columns = {0 : 'Polarity', 1:'tweet_id', 2:'Date', 3:'Query?', 4:'User', 5:'tweet_text'}, inplace=True)
tweet_trainDF.head()

,Polarity,tweet_id,Date,Query?,User,tweet_text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [5]:
tweet_trainDF.shape

(1600000, 6)

In [6]:
set(tweet_trainDF['Polarity'])

{0, 4}

In [7]:
tweet_trainDF['Polarity'].value_counts()

0    800000
4    800000
Name: Polarity, dtype: int64

## TESTING DATA

In [10]:
# Reading and Processing ***** TESTING DATA *******
import tweepy 
import socket
import sys
import requests
import requests_oauthlib
import json

In [12]:
# passing the authorization details tweeter API and create CSV file for Test data analysis
api = tweepy.API(my_auth, wait_on_rate_limit=True)
csvFile = open('tweeter_test.csv', 'w')
csvWriter = csv.writer(csvFile)

In [15]:
# Sentimetal Analysis Filtering
search_word = 'COVID'
#new_search = search_word+" -filter:retweets"

In [ ]:
# Pulling tweets metadata for analysis 
# ** PLASE NOTE IS COMMENTED OUT BECAUSE THE CSV AND DF FILES ARE ALREADY CREATED
#for tweet in tweepy.Cursor(api.search, q=new_search, count=60000, lang='en', since_id=0).items():
    #csvWriter.writerow([tweet.id_str, tweet.created_at, tweet.text.encode("utf-8").decode("utf-8"), tweet.user.screen_name, tweet.user.location])
    #outtweets = [[tweet.id_str, tweet.created_at, tweet.text.encode("utf-8").decode("utf-8"), tweet.user.screen_name, tweet.user.location]]
    
# Dataframe
#tweet_testDF = DataFrame(outtweets, columns=['tweet_id','Date', 'tweet_text', 'User', 'User_location'])
#tweet_testDF.to_csv('tweeter_test.csv', index=False)

In [26]:
tweet_testDF = pd.read_csv('tweeter_test.csv', header=None)

In [27]:
tweet_testDF.head()

,0,1,2,3,4
0,1389366309486567429,2021-05-03 23:48:36,@RichardKeppler1 @PlugInFUD Covid can’t stop a...,flufferbot01,NaN
1,1389366309306212369,2021-05-03 23:48:35,@IrishNorsewoman @MollyJongFast Your 6 year ol...,interzone03,NaN
2,1389366308404404224,2021-05-03 23:48:35,Rabbi disavowed by Chabad after posting ‘open ...,SecretNews,NaN
3,1389366302746333184,2021-05-03 23:48:34,@elrosa_ Maaaan fuck covid,kenshixhimura,NaN
4,1389366302326861826,2021-05-03 23:48:34,As of 05/03 19:48: New appointment(s) availabl...,connecticutvax,NaN

In [29]:
tweet_testDF.rename(columns={0:'tweet_id', 1:'Date', 2:'tweet_text', 3:'User', 4:'User_location'}, inplace=True)
tweet_testDF.head()

,tweet_id,Date,tweet_text,User,User_location
0,1389366309486567429,2021-05-03 23:48:36,@RichardKeppler1 @PlugInFUD Covid can’t stop a...,flufferbot01,NaN
1,1389366309306212369,2021-05-03 23:48:35,@IrishNorsewoman @MollyJongFast Your 6 year ol...,interzone03,NaN
2,1389366308404404224,2021-05-03 23:48:35,Rabbi disavowed by Chabad after posting ‘open ...,SecretNews,NaN
3,1389366302746333184,2021-05-03 23:48:34,@elrosa_ Maaaan fuck covid,kenshixhimura,NaN
4,1389366302326861826,2021-05-03 23:48:34,As of 05/03 19:48: New appointment(s) availabl...,connecticutvax,NaN

## Data Cleaning

In [30]:
tweet_trainDF.isnull().sum()

Polarity      0
tweet_id      0
Date          0
Query?        0
User          0
tweet_text    0
dtype: int64

In [31]:
tweet_trainDF.isnull().sum()

Polarity      0
tweet_id      0
Date          0
Query?        0
User          0
tweet_text    0
dtype: int64

In [33]:
pip install nltk

Collecting nltk
  Downloading nltk-3.6.2-py3-none-any.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 1.7 MB/s eta 0:00:01
Collecting regex
  Downloading regex-2021.4.4-cp39-cp39-macosx_10_9_x86_64.whl (284 kB)
     |████████████████████████████████| 284 kB 1.2 MB/s eta 0:00:01
Collecting click
  Downloading click-7.1.2-py2.py3-none-any.whl (82 kB)
     |████████████████████████████████| 82 kB 1.3 MB/s eta 0:00:01
Collecting joblib
  Downloading joblib-1.0.1-py3-none-any.whl (303 kB)
     |████████████████████████████████| 303 kB 1.8 MB/s eta 0:00:01
Collecting tqdm
  Downloading tqdm-4.60.0-py2.py3-none-any.whl (75 kB)
     |████████████████████████████████| 75 kB 2.4 MB/s eta 0:00:01
Installing collected packages: tqdm, regex, joblib, click, nltk
Successfully installed click-7.1.2 joblib-1.0.1 nltk-3.6.2 regex-2021.4.4 tqdm-4.60.0
WARNING: You are using pip version 21.0.1; however, version 21.1 is available.
You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [34]:
# NLP
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/damian/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [35]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [38]:
# Remove punctuation function
def removePunctuation(text):
    for eachPunct in string.punctuation:
        text = text.replace(eachPunct, '')
    return text

In [36]:
tweet_trainDF.head()

,Polarity,tweet_id,Date,Query?,User,tweet_text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [39]:
tweet_trainDF['tweet_text'] = tweet_trainDF['tweet_text'].apply(removePunctuation)

In [40]:
tweet_testDF['tweet_text'] = tweet_testDF['tweet_text'].apply(removePunctuation)

In [41]:
tweet_trainDF.head()

,Polarity,tweet_id,Date,Query?,User,tweet_text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,switchfoot httptwitpiccom2y1zl Awww thats a b...
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he cant update his Facebook by t...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,Kenichan I dived many times for the ball Manag...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,nationwideclass no its not behaving at all im ...

In [42]:
#tokenization to the tweet_text
from nltk.tokenize import word_tokenize

In [43]:
def tokenize_text(text):
    text = word_tokenize(text.lower())
    return text

In [44]:
tweet_trainDF['tweet_text'] = tweet_testDF['tweet_text'].apply(tokenize_text)
tweet_testDF['tweet_text'] = tweet_testDF['tweet_text'].apply(tokenize_text)

In [46]:
tweet_trainDF.head()

,Polarity,tweet_id,Date,Query?,User,tweet_text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"[richardkeppler1, pluginfud, covid, can, ’, t,..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,"[irishnorsewoman, mollyjongfast, your, 6, year..."
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,"[rabbi, disavowed, by, chabad, after, posting,..."
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,"[elrosa, maaaan, fuck, covid]"
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"[as, of, 0503, 1948, new, appointments, availa..."

In [47]:
tweet_testDF.head()

,tweet_id,Date,tweet_text,User,User_location
0,1389366309486567429,2021-05-03 23:48:36,"[richardkeppler1, pluginfud, covid, can, ’, t,...",flufferbot01,NaN
1,1389366309306212369,2021-05-03 23:48:35,"[irishnorsewoman, mollyjongfast, your, 6, year...",interzone03,NaN
2,1389366308404404224,2021-05-03 23:48:35,"[rabbi, disavowed, by, chabad, after, posting,...",SecretNews,NaN
3,1389366302746333184,2021-05-03 23:48:34,"[elrosa, maaaan, fuck, covid]",kenshixhimura,NaN
4,1389366302326861826,2021-05-03 23:48:34,"[as, of, 0503, 1948, new, appointments, availa...",connecticutvax,NaN