### This program makes the DB conection string with MySQL databse I created called CS644_DB
### and dumps the prediction model data obtained in the the databse table called tweets_model

In [48]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.14-cp39-cp39-macosx_10_14_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 4.1 MB/s eta 0:00:01
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.0-cp39-cp39-macosx_10_14_x86_64.whl (87 kB)
     |████████████████████████████████| 87 kB 5.5 MB/s  eta 0:00:01
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.1.0 sqlalchemy-1.4.14
WARNING: You are using pip version 21.0.1; however, version 21.1.1 is available.
You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [31]:
import pymysql

In [32]:
#this scipt will connect to MySQL work bech database
#replace password with your password
#db=yourDBnamehere with the name of the Database
#then you can call setDB anywhere in this project where we have to use the DB
def setDB():
    connection = pymysql.connect(host='localhost',user='root',password='alejandra96',db='CS644_DB',autocommit=True)
    cursor = connection.cursor()
    return cursor

In [34]:
# Testing conection string.
my_cursor = setDB()
#my_cursor.execute('CREATE TABLE TEST (name VARCHAR(255), address VARCHAR(255))')
# sucess table created in MySql workbench

In [35]:
import pandas as pd

In [63]:
testDF = pd.read_csv('test_final_data.csv', index_col=False)

In [64]:
#testDF = testDF.drop('Unnamed: 0', axis=1, inplace=True)
testDF.head()

   Unnamed: 0  Polarity                                              Tweet
0           0         4  ['richardkeppler1', 'pluginfud', 'covid', 'can...
1           1         0  ['irishnorsewoman', 'mollyjongfast', 'your', '...
2           2         0  ['rabbi', 'disavowed', 'by', 'chabad', 'after'...
3           3         0              ['elrosa', 'maaaan', 'fuck', 'covid']
4           4         0  ['as', 'of', '0503', '1948', 'new', 'appointme...

In [65]:
testDF = testDF.iloc[:, 1:3]

In [69]:
testDF.head()

   Polarity                                              Tweet
0         4  ['richardkeppler1', 'pluginfud', 'covid', 'can...
1         0  ['irishnorsewoman', 'mollyjongfast', 'your', '...
2         0  ['rabbi', 'disavowed', 'by', 'chabad', 'after'...
3         0              ['elrosa', 'maaaan', 'fuck', 'covid']
4         0  ['as', 'of', '0503', '1948', 'new', 'appointme...

In [61]:
# Create a Table in MySQL
my_cursor.execute('CREATE TABLE tweetModel (polarity INT, tweets CHAR(255))')

0

In [70]:
from sqlalchemy import create_engine
#connection = pymysql.connect(host='localhost',user='root',password='alejandra96',db='CS644_DB',autocommit=True)
engine = create_engine('mysql+pymysql://root:******@localhost/CS644_DB')
engine

Engine(mysql+pymysql://root:***@localhost/CS644_DB)

In [71]:
testDF.to_sql('tweets_model', engine, if_exists='replace', index=False)

In [79]:
#Convert file to HTML
#!jupyter nbconvert --execute --to html Database.ipynb

In [75]:
import os
os.getcwd()

'/Volumes/Damian/NJIT_Clases/CS644_Big_Data/Final_Project'